[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MMDvariance"]
	path = MMDvariance
	url = https://github.com/cran/MMDvariance
[submodule "clusterGeneration"]
	path = clusterGeneration
	url = https://github.com/cran/clusterGeneration
[submodule "powerMediation"]
	path = powerMediation
	url = https://github.com/cran/powerMediation
[submodule "powerSurvEpi"]
	path = powerSurvEpi
	url = https://github.com/cran/powerSurvEpi
[submodule "riskPredictClustData"]
	path = riskPredictClustData
	url = https://github.com/cran/riskPredictClustData
